[2020-02-07 22:13] pixelzoom opened #1 "Normal Modes master checklist"
Normal Modes master checklist

## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed** [suggestions doc](https://phet.unfuddle.com/a#/projects/9404/notebooks/3863

[2020-02-07 22:15] pixelzoom opened #2 "code review"
# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌
* Call attention to items with ⚠️
* Mark items that are not applicable with "N/A"

## GitHub Issues

The following standard GitHub issues should exist. If any of these issues is missing, or have not been completed, pause code review until the issues have been created and addressed by the responsible dev.

GitHub issues should e

[2020-02-07 22:25] pixelzoom opened #3 "sim does not pass lint"
Related to #2 (code review).

The sim (understandably) does not pass `grunt lint`.  PhET uses ESlint to enforce specific coding standards and avoid JavaScript pitfalls.

This is something that should probably be mentioned more prominently in PhET documentation, maybe in the PhET Development Overview.

[2020-02-07 22:30] pixelzoom commented on #3
All of the changes in the above commit are very straightforward.  Let me know if you have questions about any of them.

[2020-02-08 01:12] pixelzoom commented on #3
After all of the above lint fixes, the sim now builds with `grunt`, and the built normal-modes_en_phet.html runs fine.

[2020-02-08 01:19] pixelzoom opened #4 "use PhET code style"
Related to #2 (code review).

The sim (understandably) does not currently use PhET's code style.  Code-style specifies the code formatting conventions used for code in all PhET repositiories.

For IntelliJ and WebStorm IDE users, PhET's code style is specified by [phet-idea-codestyle.xml](https://github.com/phetsims/phet-info/blob/master/ide/idea/phet-idea-codestyle.xml), which should be installed

[2020-02-08 01:23] pixelzoom commented on #4
In the above commit, the normal-modes/js/ and all subdirectories were reformatted in WebStorm.

[2020-02-08 01:31] pixelzoom opened #5 "delete package-lock.json"
Related to #2 (code review).

package-lock.json was checked in for this sim.    PhET does not use package-lock.json.  Our policy is to prevent it from being generated by running `npm config set save false`.  This will add the following entry in your $HOME/.npmrc file:

[code]

[2020-02-08 01:36] pixelzoom opened #6 "assign responsible developer for normal-modes"
Normal Modes has been added to [responsible_dev.md](https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md).  It is currently unassigned.

[2020-02-08 01:40] pixelzoom commented on #5
package-lock.json was deleted in the above commit.

[2020-02-08 01:49] pixelzoom opened #7 "model.md"
Related to #2 (code review).  [model.md](https://github.com/phetsims/normal-modes/blob/master/doc/model.md) needs to be written.

[2020-02-08 01:49] pixelzoom opened #8 "implementation-notes.md"
Related to #2 (code review). [implementation-notes.md](https://github.com/phetsims/normal-modes/blob/master/doc/implementation-notes.md) needs to be written.

[2020-02-08 01:56] pixelzoom opened #9 ".png files at top-level of repository"
Related to #2 (code review).

There are several .png files at the top level of the repository, and they are not used by the sim:

[code]

Can these be deleted? Or moved somewhere else?

[2020-02-08 02:04] pixelzoom opened #10 "sim fails stringTest"
Related to #2 (code review).

The sim currently fails these stringTest checklist items in the code review:

This one is also questionable.  The omega symbol &omega; is not translatable (see AmpPhaseAccordionBox line 166).

[2020-02-08 02:11] pixelzoom opened #11 "string keys need to be adjusted"
Related to #2 (code review) and this checklist item:

[code]

This sim currently uses nested string keys, and keys containing hypens.  Nested keys are sometimes used in common-code repositories (to group strings), but not in sim repositories.    And we typically use camel case instead of hyphens.

For example:

[code]

... should simply to:

[code]

[2020-02-08 02:19] pixelzoom commented on #11
String keys were adjusted in the above commit. Ready for review.

[2020-02-08 02:25] pixelzoom opened #12 "use string pattern for omega values"
Related to #2 (code review).

For this view:

<img width="419" alt="screenshot_107" src="https://user-images.githubusercontent.com/3046552/74077681-00500400-49df-11ea-9ef6-7b77da825339.png">

The omega symbols and their coefficients are put together using string concatenation. See AmpPhaseAccordionBox:

[code]

This should be using a translatable string pattern like:

[code]
... and `StringUtils.f

[2020-02-08 02:29] pixelzoom opened #13 "assertion failures: strings with trailing spaces"
Related to #2 (code review).  When running with `?ea`, the sim experiences multiple assertion failures related to translated string values that have trailing spaces. E.g.:

[2020-02-08 02:33] pixelzoom opened #14 "assertion failure: matrix should not map plane to a line or point"
Related to #2 (code review).  When running with `?ea`:

window.assertions.assertFunction	@	assert.js?bust=1581129055634:22
appendMatrix	@	Node.js?bust=1581129055716:2295
scale	@	Node.js?bust=1581129055716:2041
scale	@	Node.js?bust=1581129055716:2029
(anonymous)	@	Node.js?bust=1581129055716:4985
u	@	lodash-4.17.4.min.js…ust=1581129055716:5
ru	@	lodash-4.17.4.min.js…st=1581129055716:67
mutate	@	Node

[2020-02-08 02:34] pixelzoom commented on #13
Multiple string values were fixed in the above commit.

[2020-02-08 02:36] pixelzoom opened #15 "assertion failure: default value is required for RangeWithValue"
Related to #2 (code review).  With `?ea` and after bypassing #14

[code]

[2020-02-08 02:38] pixelzoom commented on #15
This was due to a typo, fixed in the above commit.

[2020-02-08 02:39] pixelzoom opened #16 "assertion failure: HSlider sets orientation"
Related to #2 (code review). With ?ea and after bypassing #14:

[code]

[2020-02-08 02:42] pixelzoom commented on #16
This is problematic.  The sim is using `NumberControl` with `sliderOptions: {  orientation: 'vertical', ... }`. and that is not currently supported by `NumberControl`.

[2020-02-08 02:46] pixelzoom opened #17 "assertion failure: bad tandem names"
Related to #2 (code review).  With `?ea`:

[code]

There are a number of tandems that are created like this in TwoDimensionsModel:

[code]

This violates syntax for tandems.

[2020-02-08 02:51] pixelzoom opened #18 "replace toFixed"
Related to #2 (code review).

The sim uses `toFixed` where it should use `DOT/Utils` `toFixed` or `toFixedNumber`.  See 2 occurrences in AmpPhaseAccordionBox.js.

[2020-02-08 02:55] pixelzoom opened #19 "credits"
Fill in the credits for this sim. Be sure to include contributors.

[2020-02-10 17:54] pixelzoom opened #20 "abbreviated names"
Related to #2 (code view):

Here's a list of names that I recommend changing. (Do a strings search for these.). For example, use "BUTTON" instead of "BTN", "amplitude" instead of "amp", "frequency" instead of "freq", etc.

[code]

[2020-02-10 17:58] pixelzoom opened #21 "convert from inherit to class"
Related to #2 (code review):

not be used in new code.

The following types are defined using `inherit`, and should be converted  to `class`.

ModeGraphCanvasNode
StaticModeGraphCanvasNode

[2020-02-10 18:06] pixelzoom opened #22 "misuses of options pattern"
There is a definite misunderstanding about how to use `options`, which is one of PhET's fundamental design patterns.

Some examples:

[code]

[code]

[code]

A description of PHET's "Options and Config" pattern can be found in [PhET Software Design Patterns](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#options-and-config).  Because it is optional, `options

[2020-02-10 18:07] #15 closed

[2020-02-10 18:11] pixelzoom opened #23 "sim fails with assertions enabled"
Related to #2 (code.review):

See #13, #14, #15, #16, #17, #49.  And there are likely additional problems.

This is something that should probably be mentioned more prominently in PhET documentation, maybe in the PhET Development Overview.

[2020-02-10 18:17] ariel-phet commented on #6
I have assigned @jonathanolson as the responsible dev for this sim, it seems he will be the best fit if the model needs a bit of troubleshooting, and he is the most familiar with the conversions of Flash sims to HTML5. Considering KP's view of the sim, being less popular, she is fine with the code being in an "OK" but working state, so the publishing and maintenance burden should ideally be small.

[2020-02-10 18:17] #6 closed

[2020-02-10 18:21] pixelzoom opened #24 "no use of assert"
Related to #2 (code review):

This sim has zero uses of `assert`.  Combined with #23 (sim fails with assertions enabled), I'm guessing there is lack of understanding about when and how to use assertions.

Assertions are an important tool that needs to be in every good programmer's toolbox. "Appropriately" generally mean to verify entry/exit conditions for methods, and verify programming assumption

[2020-02-10 18:29] pixelzoom opened #25 "property (lowercase) vs Property (uppercase)"
Related to #2 (code review):

There are 3 cases where this is violated, all appear in a comment like this:

`// @private (read-only) Non-property attributes`

[2020-02-10 18:30] pixelzoom commented on #25
I went ahead and fixed these. Read for review.

[2020-02-10 18:39] pixelzoom opened #26 "unnecessary uses of self"
Related to #2 (code review):

There are 10 definitions of `self`, and they all appear to be unnecessary.

Example in GraphAccordionBox.js:

[code]

The use of `self` can generally be avoided by using arrow function notation (a JavaScript feature added in ES6).  Arrow function do not create their own context, and `this` therefore refers to the enclosing context.  In general, unless you need a conte

[2020-02-10 18:45] pixelzoom opened #27 "missing overview documentation in .js files"
Related to #2 (code review):

Most of the .js files have no overview description.  Their overview documentation looks like this:

[code]

[2020-02-10 18:50] pixelzoom opened #28 "lines should not exceed 120 columns"
Related to #2 (code review):

[code]

Example in Spring.js:

[code]

Here's one way of reformatting a DerivedProperty that works well:

[code]

I fixed the above example (and some others) as part of #4.  But there may be some others that need to be addressed.

And I should emphasis that this is not a strict requirement.  As the checklist item says, "use your judgement" to ensure that the code is e

[2020-02-10 18:58] pixelzoom opened #29 "opportunities for more use of validation options"
Related to #2 (code review);

There's good use of `range` for NumberProperty.

There is no use of `valueType ` or `isValidValue`, and it looks like there are opportunities for use, specifically for `Vector2Property` and `Property` instances.

This issue code be deferred until PhET-iO instrumentation, when it will become more important.

[2020-02-10 19:04] pixelzoom opened #30 "constructor parameters are not described"
Related to #2 (code review):

There are type expressions for all parameters.  But in constructors, they are generally missing descriptions.  For example:

[code]

This is not a big deal in this sim, since in many cases it's easy to figure out what the parameter means.  And in cases where the description is obvious, it's OK to omit a description.  But when in doubt, describe all parameters.

[2020-02-10 19:12] pixelzoom opened #31 "review pointer areas"
According to the code-review checklist, this is a required issue.

Do a full review of pointer areas using `?showPointerAreas`

[2020-02-10 19:13] pixelzoom opened #32 "memory testing for brands=phet"
According to the code-review checklist, this is a required GitHub issue.  Do a full memory test for phet brand, and document the results here.

[2020-02-10 19:15] pixelzoom opened #33 "performance testing"
According to the code-review checklist, this is a required GitHub issue.

Prior to dev testing, do a performance evaluation on a reasonable set of supported platforms.  Lead designer should sign off, and note in master checklist #1.

[2020-02-10 19:26] pixelzoom opened #34 "pattern for defining Enumerations"
Related to #2 (code review):

There's a problem with both the type expression for `EnumerationProperty` and the definitions of `Enumerations` in general.

Example in TwoDimensionsModel.js:

[code]

The lefthand side of an Enumeration definition should look like a class name.  And we typically put them in their own .js file.  For example, the above would be:

[code]

Then the definition of `this.am

[2020-02-10 19:31] pixelzoom opened #35 "bad type expression {Model} in constructors"
Related to #2 (code review).

This problem exists in the constructors for
OptionsPanel.js, GraphAccordionBox.js, ModeGraphCanvasNode.js, StaticModeGraphCanvasNode.js, AmpSelectorAccordionBox.js, AmpSelectorRectNode.js,

Type `{Model}` does not exist:

[code]

[2020-02-10 19:44] pixelzoom opened #36 "rename some view classes to match the UI"
Related to #2 (code review):

While naming of classes generally looks great in this sim, there are a few view classes that could benefit from a rename.

PhET typically names things based on how they are named in the user interface (UI), and what class of UI component they are.  For example, if there's an accordion box with title "Normal Mode Spectrum", then we would name the class `NormalModeSpect

[2020-02-10 19:51] pixelzoom opened #37 "address TODO comments or promote to GitHub issues"
Related to #2 (code review):

There are current 20 `TODO` comments that do not reference a GitHub issue.

[2020-02-10 19:54] pixelzoom opened #38 "magic numbers?"
Related to #2 (code review):

There are a couple of TODO comments that contain "magic number", they should be reviewed.  It's likely they can just be documented and promoted to constants (either in the .js file or in NormalModesConstants.js).

[2020-02-10 19:57] pixelzoom opened #39 "review for color-blindness accessibility"
Related to #2 (code review):

SpringNodes.js and NormalModesIconFactory.js currently use `stroke: 'red'`.  Should they be using `PhetColorScheme.RED_COLORBLIND`?

[2020-02-10 20:10] pixelzoom opened #40 "identify and address unnecessary coupling to model"
Related to #2 (code review):

Unnecessary coupling is when a class knows about (or has access to) things that are not related to its responsibilities.  And it's one of the biggest factors in writing maintainable code.

In this sim, there are many constructors that take a `model` parameter.  This is a red flag that there is unnecessary coupling.  Generally, only a couple of things in the model are

[2020-02-10 20:14] pixelzoom commented on #40
I should also point out that the code-review checklist also has this item:

This identifies a trade-off between doupling and number of parameters in a constructor/method.
If a class needs to know about most of the API for another class, then you may decide that it's preferable to pass the entire object instance.  Use your judgement.

[2020-02-10 20:18] pixelzoom opened #41 "polish layout"
Noticed during #2 (code review).

The layout of both screens could use some polishing, to:
* make more effective use of negative space
* alleviate some crowding

See screenshots below with `?dev` to show layoutBounds.

<img width="1075" alt="screenshot_109" src="https://user-images.githubusercontent.com/3046552/74186347-ae3df700-4c07-11ea-9d1d-e993e69017a0.png">

<img width="1074" alt="screenshot_

[2020-02-10 20:22] pixelzoom opened #42 "review design of Speed control, use TimeControlNode"
Noticed during #2 (code review), and related to https://github.com/phetsims/scenery-phet/issues/575 (redesign of TimeControlNode).

This sim has a time control, see screenshot below.  It should be using `SCENERY_PHET/TimeControlNode`.   The slider is not part of TimeControlNode.  Is this a necessary part of the design, or could this sim be using radio buttons ala TimeControlNode?

<img width="232"

[2020-02-10 20:38] pixelzoom opened #43 "remove reset methods that do nothing?"
Related to #2 (code review).

There are a number of `reset` methods that do nothing, and are not called anywhere.

For example, AmpPhaseAccordionBox.js:

[code]

This isn't hurting anything. But in cases where `reset` (or some other method) does nothing, PhET typically does not implement the method.

[2020-02-10 20:44] pixelzoom opened #44 "are Mass initialDisplacementProperty and initialVelocityProperty necessary?"
Related to #2 (code review).

In Mass.js:

[code]

Every Property stores it's initial value, and the initial value can be restored by calling `reset`.  So I wonder if `this.initialDisplacementProperty` and `this.initialVelocityProperty` are really necessary.

On the other hand, I see  `initialDisplacementProperty.set` and `this.initialVelocityProperty` called, but don't understand why:

[code]

Re

[2020-02-10 20:51] pixelzoom opened #45 "MassNode visibilityProperty is unnecessary"
Related to #2 (code review):

In MassNode.js:

[code]

`this.visibilityProperty` seems unnecessary.   If something is using it, it could use `this.mass.visibilityProperty`.

This is preferable:

[code]

[2020-02-10 20:52] pixelzoom opened #46 "rename visibilityProperty to visibleProperty"
Related to #2 (code review).

This sim currently uses `visibilityProperty` throughout.  The PhET naming convention for this Property is `visibleProperty`.  Recommended to change it.

See Mass.js, Spring.js, MassNode.js, and SpringNode.js for instantiations of `visibilityProperty`.

[2020-02-10 20:53] pixelzoom commented on #45
Also note that if `visibilityProperty` is renamed to `visibleProperty` as recommended in https://github.com/phetsims/normal-modes/issues/46, then it may conflict with PhetioObject `visibleProperty` when this sim is instrumented.

[2020-02-10 21:00] pixelzoom opened #47 "factor out duplicated colors"
Related to #2 (code review).

Colors are duplicated in multiple places.  Recommended to factor them out into NormalModeColors.js.

Examples (not necessarily a complete list):

[code]

And these colors could then be moved from NormalModesConstants.js to NormalModesColors.js:

[code]

[2020-02-10 21:02] pixelzoom opened #48 "factor out duplicated RadioButtonGroup"
Related to #2 (code review).

This RadioButtonGroup appears in both screens:

<img width="85" alt="screenshot_112" src="https://user-images.githubusercontent.com/3046552/74189738-2dcec480-4c0e-11ea-8124-bee5aa34188c.png">

The code to create it is duplicated in AmpPhaseAccordionBox and AmpSelectorAccordionBox:

[code]

Factor this out and encapsulate in a class that extends `RadioButtonGroup`.

[2020-02-10 21:14] pixelzoom commented on #17
Here's the regex in Tandem.js that these tandems are failing to match:

[code]

[2020-02-10 21:28] pixelzoom commented on #17
This is a deficiency in PhET-iO.  There is currently no convention for creating a tandem name for something in a collection > 1D.   See https://github.com/phetsims/tandem/issues/146.

Until this is addressed, I'll comment out the failing lines of code in this sim.

[2020-02-10 21:30] pixelzoom commented on #17
Labeling as deferred, to be revisited when this sim is instrumented for phet-io.

[2020-02-10 21:34] pixelzoom commented on #17
Found another case, commented out in the above commit.

[2020-02-10 21:37] pixelzoom commented on #34
With assertions enabled `?ea`, this is also causing the following failure:

[code]

[2020-02-10 22:27] pixelzoom commented on #34
The above error seems to be a PhET-iO problem.  It looks like there's an assumption that keys are unique across all Enumerations.     I factored out a single `DirectionOfMotion` enumeration, and the error went away.

[2020-02-10 22:50] pixelzoom commented on #14
The failure is occurring at OptionsPanel.js line 228:

[code]

Apparently the speed control is a NumberControl, and this is an attempt to hide the associated NumberDisplay (and keep it from contributing to bounds?)   The proper way to do that would be a custom `layoutFunction` for the NumberControl.  And this should most definitely not be a NumberControl (see #42).

I'm going to change `scale: 0`

[2020-02-10 22:54] pixelzoom commented on #14
This same approach is used in AmpPhaseAccordionBox in `ampSliderOptions` and `phaseSliderOptions`.  In this case, they don't want the title or NumberDisplay, and are setting `scale: 0` for both.  This results in the same error.   Again, the correct approach is a custom `layoutFunction` that excludes the title and NumberDisplay.

[2020-02-10 23:07] pixelzoom commented on #14
As it turns out AmpPhaseAccordionBox is creating a NumberControl with no title, no NumberDisplay, and no arrow buttons.  So it's only the slider.   And we needs a VSlider, which isn't supported by NumberControl (see #16).  So the solution to this and #16 is to replace NumberControl with VSlider - which I've done in the above commits.

This is ready for review.  The lessons to be learned here are:

[2020-02-10 23:10] pixelzoom commented on #16
This was fixed as a side-effect of #14, and is ready for review.   It turned out that  NumberControl was not needed here, just a VSlider.

The lesson to be learned here is when to use NumberControl and when to use Slider.

[2020-02-10 23:13] pixelzoom opened #49 "assertion failure: tried to removeListener on something that wasn't a listener"
Related to #2 (code review).

1. Start the sim with `?ea`
2. Go to "One Dimension" screen
3. Try to drag one of the masses

This assertion failure occurs:

[code]

[2020-02-10 23:14] pixelzoom commented on #49
A similar failure occurs in the "Two Dimensions" screen.

[2020-02-10 23:17] pixelzoom commented on #49
Fixed, ready for review.  Lesson is: don't unlink something that's not a listener.

[2020-02-10 23:19] pixelzoom commented on #23
The sim is now running with assertions enabled (`?ea`) and passes fuzz testing (`?fuzz`).

Ready for review.  The take-away is how and why to enable assertions.

[2020-02-10 23:22] pixelzoom opened #50 "sim fails with shuffleListeners"
Related to #2 (code review):

I only tried `?ea&shuffleListeners&fuzz`, and it fails.  I'm not convinced that this needs to be address, so consult @ariel-phet before working on this.

[2020-02-10 23:28] pixelzoom opened #51 "does this sim do any memory management?"
Related to #2 (code review), there are 3 items related to memory management:

such as primary model and view classes that exist for the duration of the sim.
	- [ ] AXON: `Property.link` is accompanied by `Property.unlink`.
	- [ ] AXON: Creation of `DerivedProperty` is accompanied by `dispose`.
	- [ ] AXON: Creation of `Multilink` is accompanied by `dispose`.
	- [ ] AXON: `Events.on` is accompanied

[2020-02-10 23:29] pixelzoom commented on #32
Recommended to have QA do this to evaluate whether the sim currently has any leaks.

[2020-02-10 23:37] pixelzoom commented on #2
Code review is done.

The sim is generally in nice shape, especially considering that it was done by someone outside of PhET.   So great work!

Most of the deficiencies (e.g. lint, assertions) can be traced to deficiencies in PHET's documentation for 3rd-party developers.  @ariel-phet we might consider triaging these issues to pull out the things that need to be improved in PhET doc.

There are 43

[2020-02-10 23:45] pixelzoom commented on #42
FYI, this control was responsible for the failure in #4.   NumberControl is being used for the slider, and that's inappropriate.

[2020-02-11 00:26] pixelzoom commented on #2
I should also note that this review focused solely on PhET development standards.  I'm not familiar with the domain or the original Flash sim, so I did not verify the correctness of the sim behavior.

[2020-02-11 00:49] zepumph commented on #34
Over in https://github.com/phetsims/phet-core/issues/79#issuecomment-584429471 I was able to commit a fix for this error as it pertains to using phetioType as validation for EnumerationProperties.

I have two thoughts:
1. https://github.com/phetsims/normal-modes/commit/6b48cf512d9a4ccc48a92c8251d8cf633ad3f08e feels like the right direction to me. I think it is rare to have two Enumerations that ha

[2020-02-11 00:53] pixelzoom commented on #42
About this issue over in https://github.com/phetsims/scenery-phet/issues/575#issuecomment-584338869, @arouinfar said:

[2020-02-11 17:31] Hyodar commented on #36
Done! Your suggested naming looks a lot better.

[2020-02-11 17:48] ariel-phet commented on #2
@tmildemberger @Hyodar please the comment by @pixelzoom above. The high priority issues would definitely be the ones to address first, and then the `ready-for-review` issues as next in priority to look over.

[2020-02-11 17:51] #36 closed

[2020-02-11 17:54] ariel-phet commented on #32
@KatieWoe it would be good to get to this test before the end of the week if possible since it should be straightforward.

[2020-02-11 18:21] Hyodar commented on #35
Fixed. There are still some parameter issues to be dealt with (#22 and #40), but I plan on fixing them in separate commits to keep things organized.

[2020-02-11 18:43] pixelzoom commented on #27
@ariel-phet asked me to mark this one as high priority, since it's important for on-going maintenance.

[2020-02-11 18:46] ariel-phet commented on #41
Self-assigning

[2020-02-11 18:46] ariel-phet commented on #42
self-assigning

[2020-02-11 19:13] pixelzoom commented on #7
@ariel-phet asked me to label this one high priority.

PhET currently doesn't have a standard for what's in the model.md file, and it varies dramatically from sim to sim.   The audience for model.md is non-programmers, typically teachers who want to know (at a high level) how the sim's model works.

A good recent example is https://github.com/phetsims/vector-addition/blob/master/doc/model.md

[2020-02-11 19:16] pixelzoom commented on #8
@ariel-phet asked me to label this one high priority.

PhET currently doesn't have a standard for what's in the model.md file, and it varies dramatically from sim to sim. The audience for implementation-notes.md is programmers who may need to maintain or enhance the sim.  At a minimum, it should describe the overall architecture, identify where specific design patterns are used, and describe memor

[2020-02-11 20:59] Hyodar commented on #48
Encapsulated the RadioButtonGroup in a DirectionOfMotionRadioButtonGroup class in the latest commit.
How do you feel about this class name? I think it only makes sense on the 1D mode, as the masses do move in both directions on 2D mode. Maybe changing DirectionOfMotion to AmplitudeDirection (and all associated names in the same way, 1D and 2D) would be better?

[2020-02-11 21:03] KatieWoe commented on #32
Here are the test results. The memory is small and rises slowly, so I think everything looks fine.
![normalmemory](https://user-images.githubusercontent.com/41024075/74278984-49ea6880-4cd7-11ea-9132-60f3a73da051.png)

[2020-02-11 21:13] pixelzoom commented on #48
@Hyodar renaming `DirectionOfMotion` to `AmplitudeDirection` sounds like a good change.  And the radio button group would then be `AmplitudeDirectionRadioButtonGroup`.

The current implementation of `DirectionOfMotionRadioButtonGroup` looks very nice. You might consider renaming `horizontalButton` and `verticalButton` to something like `horizontalButtonDescription` and `verticalButtonDescription`.

[2020-02-11 21:23] pixelzoom commented on #32
Looks good to me!

@Hyodar @tmildemberger congratulations, the sim has passed memory-leak testing.

FYI... The process is run the sim in Chrome with `?fuzz`.  You'll hear this referred to as "fuzz testing", and it automatically generates input events that drive the sim.  While this is occurring, you manually take heap snapshots in Chrome.  The first snapshot is taken when the sim starts, and each

[2020-02-11 21:23] #32 closed

[2020-02-11 22:13] Hyodar commented on #48
Makes sense. Renamed both `DirectionOfMotion` to `AmplitudeDirection` and the buttons to button descriptors.

[2020-02-11 22:39] pixelzoom commented on #48
@Hyodar are you testing your changes with assertions enabled? There's a bug in AmplitudeDirectionRadioButtonGroup (line 45):

[code]

This is causing `merge` to fail with the assertion below.  The `options` are needs to be moved outside down 1 line:

[code]

[code]

It's best to always test with query parameter `ea` to enabled assertions.  And run `grunt lint` to check with ESlint before pushing c

[2020-02-11 22:42] Hyodar commented on #26
No problem removing all uses and declarations of `self` by replacing `function` with arrow functions.

[2020-02-11 22:45] pixelzoom commented on #26
@Hyodar These changes are failing lint.

[code]

[2020-02-11 22:48] Hyodar commented on #48
Oh, sorry. My bad. Fixing right away.

[2020-02-11 22:50] pixelzoom commented on #48
No problem!  We understand that it takes a little while to get used to our process. And we appreciate your work.

[2020-02-11 22:53] pixelzoom commented on #26
There are 2 types of errors above.  They are both standard ESlint errors, described here:

no-trailing-spaces: https://eslint.org/docs/rules/no-trailing-spaces
arrow-parens: https://eslint.org/docs/rules/arrow-parens

[2020-02-11 23:07] Hyodar commented on #26
Sorry, sorry! I've already fixed the #48 assertion issue, but I'm running into a bit of problems on my machine's grunt. I'll try to fix them as fast as I can.

[2020-02-11 23:22] Hyodar commented on #26
Well, after some struggling with grunt, finally got to run it successfully here. I've actually reinstalled my OS recently, so I had to install it back. WebStorm reformat really wasn't getting those, it's something to keep an eye out for. Really sorry for the trouble.

[2020-02-11 23:24] Hyodar commented on #48
Probably everything fixed by now.

[2020-02-11 23:57] pixelzoom commented on #26
No problem!  Everything is working great now, so I'll go ahead and close this.

[2020-02-11 23:57] #26 closed

[2020-02-11 23:58] pixelzoom commented on #48
Everything looks great, so I'll close this.

[2020-02-11 23:58] #48 closed

[2020-02-12 03:17] Hyodar commented on #22
Made some changes to the usage of options, though I think some of those classes could still use some cleaning up beyond just changing options to be the last parameter.
I'll take a closer look tomorrow and then close the issue if everything is fine.

[2020-02-12 13:22] tmildemberger commented on #27
Now all .js files have an overview documentation.

[2020-02-12 19:21] Hyodar commented on #21
Converted from inherit to class in `ModeGraphCanvasNode` and `StaticModeGraphCanvasNode`.

[2020-02-12 19:44] Hyodar commented on #18
Replaced `toFixed` with `Utils.toFixed`. There was no need to return it as a number, so `Utils.toFixed` was fine.

[2020-02-12 20:08] Hyodar commented on #21
Also, did d9d75db to follow the es6 class constructor tag pattern.

[2020-02-13 00:21] ariel-phet commented on #41
@arouinfar and I had an initial discussion today. She will put some mockups in this issue.

[2020-02-13 00:25] ariel-phet commented on #42
Will be done as part of #41 - closing

[2020-02-13 00:25] #42 closed

[2020-02-17 02:17] tmildemberger commented on #51
The above commits add a comment for each `Property.link`, `DerivedProperty` or `Multilink` explaining why they don't need to be disposed/unlinked.

In our case, most of the objects are created at the start of the simulation and are not meant to be disposed. There is only one place where a new `VStrut` needs to be created sometimes, and the old one was not disposed until bd6e9a6.

[2020-02-17 02:26] pixelzoom commented on #51
When you get to #8... This is the type of information that we typically put in implementation-notes.md, under a "Memory Management" heading.

[2020-02-17 13:50] #49 closed

[2020-02-17 14:37] tmildemberger commented on #49
For some reason, before 8751534, even when though we tried to unlink something that was not a listener, the listener that we meant to unlink was unlinked after the (incorrect) call to unlink and the arrows were correctly hidden. After that commit, as we were always trying to unlink something that was not a listener, unlink was not called at all and even after holding and releasing a mass, the arro

[2020-02-17 16:27] pixelzoom commented on #49
Thanks for explaining the problem with context of the `callback` variable, that makes sense and I hadn't noticed.  I do think it's still worth checking `hasListener` before calling `link`.  `arrowsVisibilityProperty` currently has an initial value of `false`.  But if `arrowsVisibilityProperty` had an initial value of `false`,  then `unlink` would be called before `link`, and would trigger the "tri

[2020-02-17 16:51] tmildemberger commented on #49
Yes, that makes sense. The check is still there, and I'll remember to call `hasListener` before calling `unlink` the next time.

[2020-02-17 18:10] Hyodar commented on #22
Closing. If necessary, it can be opened again.

[2020-02-17 18:10] #22 closed

[2020-02-17 18:11] Hyodar commented on #21
It seems OK, so I'll close it. If necessary, it can be opened again.

[2020-02-17 18:11] #21 closed

[2020-02-17 18:15] Hyodar commented on #18
About these strings, there's still #12 to solve, but the `toFixed` usage now seems fine, so I'll go ahead and close this issue.

[2020-02-17 18:15] #18 closed

[2020-02-17 19:07] Hyodar commented on #12
Added a string pattern for the omega values. Everything seems ok, it also passed the `stringTest=X` from #10.
Also, is there any naming convention for those? On masses and springs simulation, for example, the patterns are named just like normal strings, whereas your example adds `Pattern` to the end and the require constant doesn't have `String`.
Do you have any suggestions on how I should name bo

[2020-02-17 20:11] pixelzoom commented on #12
The `const` must be the same as the string key, with "String" suffix added.   There's a lint rule that checks this and will fail if the convention is not followed.   So for example:

[code]

Unfortunately, there's no standardization for the "key" for pattern strings.  I have typically used the "Pattern" suffix. But there's no enforcement (or even requirement) for this.  I have also used the name o

[2020-02-17 21:14] Hyodar commented on #12
All right. I was unsure whether to name it `frequencyOmegaPatternString`, following the UI, or `frequencyRatioOmegaPatternString`, as its value to fill in is, in fact, a frequency ratio. On second thought, the latter looks better.
Thanks!

[2020-02-17 21:25] Hyodar commented on #12
It looks ok now, so I'll close it.

[2020-02-17 21:25] #12 closed

[2020-02-17 21:39] Hyodar commented on #39
Replaced both of them to `RED_COLORBLIND`.

[2020-02-17 23:16] Hyodar commented on #43
Removed both reset and step methods that did nothing.

[2020-02-17 23:24] pixelzoom commented on #39
Reopening. Sorry that I wasn't clear on this one.  Colors are typically reviewed by a sim designer, to check for color-blindness accessibility.   And the possible use of PhetColorScheme.RED_COLORBLIND was just one example.   So before you do anything else, a sim designer will review and (possibly) request color changes.

[2020-02-17 23:30] Hyodar commented on #39
No problem! We'll be waiting for your review.

[2020-02-17 23:39] pixelzoom commented on #24
Since this sim is near completion, it may not be worth the trouble to go back and add assertions. Ask @ariel-phet before proceeding.

Let me know if you'd like some examples of where assertions would have been appropriate. They are typically valuable for catching programming errors, including:

* checking that constructor and method arguments are of the proper type and satisfy any constraints
* ch

[2020-02-17 23:46] pixelzoom commented on #40
If you're looking for a good introduction to Coupling (and how it contrasts with Cohesion), see https://www.javatpoint.com/software-engineering-coupling-and-cohesion.

[2020-02-18 03:17] Hyodar commented on #40
In the latest commit, I fixed some cases that model could be easily replaced (or just removed).

About this, I also went and counted the number of model attributes that each of the other classes that got `model` as a constructor parameter used: at least 4. Is it justifiable to pass the entire `model` instance in these cases?

[2020-02-18 13:22] tmildemberger commented on #44
They were indeed not needed. Thanks for pointing it out. Closing.

[2020-02-18 13:22] #44 closed

[2020-02-18 17:35] pixelzoom commented on #40
I don't know if 4 is the magic number, but that sounds reasonable for this sim.

I inspected the remaining occurrences of `@param model`, and have a few suggestions:

* MassNode, MassNode1D, MassNode2D:
Remove constructor param `model` from MassNode, it's not used by MassNode, its used by subclasses.  And subclasses can use their constructor args. Also these fields are not needed in MassNode:

[co

[2020-02-18 23:13] Hyodar commented on #40
Makes sense, those didn't need to be added as attributes as they could be used directly on the constructor.
About `SpringNode`, I didn't change it in the last commit because I was thinking if the property was really necessary, so I waited to take a look at it again today. Anyway, I'll do what you suggested and, if necessary, create another issue about `SpringNode`.
Thanks!

[2020-02-19 14:40] Hyodar commented on #40
Made the discussed changes in the previous commits.
On `OneDimensionScreenView` and `TwoDimensionsScreenView`, though, `modelViewTransform` wasn't a constructor argument; it was created inside the constructor, so this wasn't changed.

[2020-02-19 16:26] pixelzoom commented on #40
Right.  But `this.modelViewTransform` does not need to be a field, it can be a `const`.  See above commit.  In general, try to create fields (`this.something`) only when necessary.

[2020-02-19 16:28] pixelzoom commented on #40
I removed the design:interviews label from this issue.  I added it by mistake when the issue was created.  That issue is typical used for things that need to be tested with users.

[2020-02-19 16:51] pixelzoom opened #52 "VIEWBOX_WIDTH"
Noticed while working on #40.

In `OneDimensionScreenView`:

[code]

I'm guessing that the `- 8` was added when you were tweaking things.  Unless there's some other significance to `- 8`, it would be better to change the value to `747`.   And document with something like:

[code]

[2020-02-19 16:53] pixelzoom opened #53 "document viewOrigin"
Noticed while working on #40.

Both ScreenView subclasses define `viewOrigin`.  The computation of the value is a little complicated, so comments would be nice here.

OneDimensionScreenView.js:

[code]

TwoDimensionsScreenView.js:

[code]

[2020-02-19 16:55] pixelzoom commented on #53
I went ahead and added documentation in the above commits. Please review, feel free to change if the description is inaccurate or you'd prefer something else.

[2020-02-19 16:57] Hyodar commented on #40
Understood! It's something to remember.
If I come across any more cases of unnecessary fields that could be replaced in this way, I'll do it.

[2020-02-19 17:20] Hyodar commented on #53
That's fine with me. What do you think, @tmildemberger?

[2020-02-19 17:24] tmildemberger commented on #53
Looks good.

[2020-02-20 23:19] pixelzoom commented on #17
Over in https://github.com/phetsims/tandem/issues/146#issuecomment-587934268, we decided to use this general form for indexed tandem name:

`something[i,j,k,...]`

for example:

`modeXAmplitudeProperty[0,2]`

I'll make the changes in this sim's code.

[2020-02-20 23:26] pixelzoom commented on #17
Done in the above commits. Verified that it passes with assertions enabled. Closing.

[2020-02-20 23:26] #17 closed

[2020-02-21 15:48] KatieWoe opened #54 "CT Tandem is assigned a value but never used"
[code]

[2020-02-21 16:36] pixelzoom commented on #54
When I cloned this repo, I forgot to install the pre-commit hook that runs `grunt lint`.   So this lint error snuck through when I addressed #17.

Fixed in the above commit. Closing.

[2020-02-21 16:36] #54 closed

[2020-02-22 18:43] Hyodar commented on #43
Following the issues workflow:
Assigning @pixelzoom for review.

[2020-02-22 18:45] Hyodar commented on #35
Assigning @pixelzoom for review.

[2020-02-22 19:01] Hyodar commented on #9
Those .png files were all used in `todo.md`, a TODO checklist that we used during development. I removed both the images and `todo.md`.

[2020-02-22 19:01] Hyodar commented on #9
Assigning @pixelzoom for review.

[2020-02-24 18:26] pixelzoom commented on #43
👍 closing.

[2020-02-24 18:26] #43 closed

[2020-02-24 18:27] pixelzoom commented on #9
👍 closing.

[2020-02-24 18:27] #9 closed

[2020-02-24 18:27] pixelzoom commented on #35
👍 closing.

[2020-02-24 18:27] #35 closed

[2020-02-25 13:54] tmildemberger commented on #3
The changes are OK, and now we always run `grunt lint` before commiting, so I think this can be closed.

[2020-02-25 13:54] #3 closed

[2020-02-25 14:24] tmildemberger commented on #5
It seems that the "Getting Started (for Windows)" section of the phet-development-overview.md mentions the need of running `npm config set save false` in step 7, but the "Getting Started (for macOS)" section doesn't. As a Linux user, I didn't read the Windows steps and didn't run the command.

[2020-02-25 15:50] pixelzoom commented on #5
Thanks @tmildemberger.

PhET doesn't officially support Linux, so you're on your own there.  But it's generally a good idea to read through Windows or macOS instructions to get a feel for what needs to be done.

I also noticed that step 7 was missing from "Getting Started (macOS)" so I just added it.

[2020-02-25 15:50] #5 closed

[2020-02-25 21:00] Hyodar commented on #40
Went through all the files looking for fields that were not used or that could be replaced for const. In the latest commit I probably fixed all of them.

[2020-02-25 21:16] Hyodar commented on #24
Alright.
Is it a good thing if I, at least, add type check assertions for each method and constructor?
I just wrote a simple script to parse each method's jsdoc `@param` fields and add type checks, so this wouldn't be a big trouble.

[2020-02-25 21:19] Hyodar commented on #53
Since it's already ready for review, I'll go ahead and close it.

[2020-02-25 21:19] #53 closed

[2020-02-25 22:38] pixelzoom commented on #24
I don't think you need to do that, just keep it in mind for next time.  In other sims (e.g. gas-properties) I've experimented with type check assertions for every parameter, but it seems like overkill.  I think its acceptable to add type checking for parameters where someone is likely to make a mistake, and (more importantly) for argument values that need to satisfy constraints.

[2020-02-26 02:16] Hyodar commented on #45
Removed `visibilityProperty` from `MassNode` in be758f6.
It really was unnecessary, thanks for pointing it out.

[2020-02-26 02:17] Hyodar commented on #45
Assigning to @pixelzoom for review.

[2020-02-26 02:28] Hyodar commented on #46
Considering the PhetIO conflicts you mentioned on #45, what should we do about renaming those `visibilityProperty`?

[2020-02-26 14:04] pixelzoom commented on #45
Looks great, closing.

[2020-02-26 14:04] #45 closed

[2020-02-26 14:25] pixelzoom commented on #46
The conflict with PhET-iO only exists for subclasses of Node, so you can safely rename visibilityProperty to visibleProperty in Mass.js and Spring.js (model classes).

You removed visibilityProperty from MassNode in https://github.com/phetsims/normal-modes/issues/45.   So it's only an issue for SpringNode, where visibilityProperty can be replaced by Property.multilink.

I also discovered 3 model P

[2020-02-26 14:30] pixelzoom commented on #20
While working on #46, I noticed some other non-standard abbreviations in SpringNode, which I changed in the above commit.

` ], ( leftPos, leftDispl, rightPos, rightDispl ) => {`

[2020-02-26 22:25] Hyodar commented on #46
Understood!
Looks nice. Closing the issue.

[2020-02-26 22:25] #46 closed

[2020-02-29 14:49] tmildemberger commented on #47
I was not sure if I should move all the colors to NormalModesColors.js or just the duplicated ones. In the above commit I ended up moving all the colors to make finding and changing any color easier. Assigning @pixelzoom for review.

[2020-02-29 14:51] tmildemberger commented on #16
We'll pay more attention in the future to decide if something needs to be a NumberControl or just a Slider. Closing.

[2020-02-29 14:51] #16 closed

[2020-02-29 14:55] tmildemberger commented on #4
We are now following PhET code style, so I think this can be closed.

[2020-02-29 14:55] #4 closed

[2020-03-02 22:12] pixelzoom commented on #47
Very nice! Closing.

[2020-03-02 22:12] #47 closed

[2020-03-04 01:45] Hyodar commented on #7
The latest commit has the first version of the model description. It took a while because I rewrote some parts a couple of times, but I think it's at least acceptable now.

[2020-03-04 01:58] Hyodar commented on #7
@pixelzoom , could you give us some feedback about it before the review? We would really appreciate it.

[2020-03-04 01:59] Hyodar commented on #7
Also, I have to take a trip for a few days, so I'll assign @tmildemberger here to make changes if necessary.

[2020-03-19 19:29] pixelzoom opened #55 "use 1-based numbering for modes in tandem names"
Related to https://github.com/phetsims/tandem/issues/146 and https://github.com/phetsims/normal-modes/issues/17.

In https://github.com/phetsims/tandem/issues/146#issuecomment-601317415, designers requested that we use 1-based numbering for modes.   So the indices that were added in #17 need to be converted to 1-based.

[2020-03-19 21:02] pixelzoom commented on #55
Done in the above commits.  This is all a bit hypothetical, since this sim doesn't currently support  brand=phet-io, has had PhET-iO design, and isn't even completed.

@zepumph would you mind taking a peek?   The relevant code is:

* TwoDimensionalModel, lines 73-124 and 243-262.
* OneDimensionalModel, lines 81-110.

[2020-03-26 16:12] pixelzoom opened #56 "CT: bad result of recalculateVelocityAndAcceleration"
Intermittent failure in CT (Continuous Testing):

[code]

[2020-04-14 19:35] Hyodar commented on #20
Replaced some abbreviations in this commit.
I'll keep an eye out for non-standard abbreviations, feel free to point it out if you notice any!

[2020-04-15 20:50] Hyodar commented on #28
In db9687f I fixed most of the lines that had more than 120 columns.

There is also something I noticed while working on `TwoDimensionsModel.js`. There are some really long variable names there, e. g. `frequencyTimesAmplitudeXTimesSin` and `frequencySquaredTimesAmplitudeXTimesCos`.
I think these names should be reviewed, even though I don't have any ideas for them right now.
@pixelzoom, maybe this

[2020-04-15 21:33] pixelzoom commented on #28
Bravo!

I think those names are fine. Though verbose, they are certainly descriptive, and I can't think of better names.

And yes, definitely change those local arrays in TwoDimensionsModel.js `setExactPositions` to be `const`.

[2020-04-15 21:36] pixelzoom commented on #28
If the long names bother you (or anyone else :) you might add a comment above them like:

[code]

[2020-04-15 21:43] pixelzoom commented on #28
Also in TwoDimensionsModel.js, I'd recommend replacing "Phs" abbreviation with "Phase" in these variable names:

[code]

The names are already long, and saving 2 characters is not worth the negative impact on readability.

[2020-04-15 23:25] Hyodar commented on #28
Good idea! I thought they might get a bit overwhelming for someone reading the function, but this should be enough to explain why they're named that way. Added it in 80e83d8.

Yes yes, I remember noticing it but somehow didn't remember to replace those. Also done now.

[2020-04-16 01:15] zepumph commented on #34
@pixelzoom is this issue ready to be closed?

[2020-04-16 01:31] #34 closed

[2020-05-14 21:13] Hyodar commented on #8
Added a simple `implementation-notes` on 75d6218.

@pixelzoom, could you take a look at it and `model.md`? As the documentation varies a lot from sim to sim, it would be good if you could give us some feedback.

[2020-05-18 16:11] pixelzoom commented on #8
Sorry, I somehow missed the GitHub notification about this. Best to assign to me when you want me to review something.  I'll try review this today.

[2020-05-18 16:12] pixelzoom commented on #56
Still occurring intermittently as of 5/18/202.

[2020-05-18 16:54] Hyodar commented on #8
No problem, thanks!

[2020-05-18 16:59] Hyodar commented on #56
Right, we'll take a look at it.

[2020-05-18 17:00] pixelzoom commented on #7
This looks great.  I made one change in the above commit -- "Options" means something to PhET.  Some sims have an Options choice under the PhET menu, where you can open an Options dialog and set global options.   So I changed "Options" to "Additional Controls".

@tmildemberger If you have additional changes that you'd like reviewed, feel free to assign back to me.  If not, feel free to close this

[2020-05-18 17:09] pixelzoom commented on #7
I noticed in #8 (implementation-notes.md) that there is actually an OptionsPanel.  So I took the liberty of renaming it to NormalModesControlPanel.js in the above commit.  I'll also update in implementation-notes.md.

[2020-05-18 17:13] pixelzoom commented on #8
I made a couple of minor changes in the above commits, but overall this looks really great - well done!   Feel free to close this issue if you're also happy with it.

[2020-07-02 03:25] Hyodar commented on #56
Well, I got some time to work on the sim again!

I have a pretty good idea of what may be happening:
If the user grabs a mass and presses one of the arrow buttons to change the active `AmplitudeDirection` during the dragging process, the computed verlet positions (velocity and acceleration, too) directions will not match with the `amplitudeDirectionProperty` value. Thus, it will trigger the assert

[2020-07-06 18:35] Hyodar commented on #25
Thanks for fixing those; I think this is pretty much clear now, so I'll go ahead and close the issue.

[2020-07-06 18:35] #25 closed

[2020-07-06 19:09] Hyodar commented on #28
In this last commit I just fixed a line that had more than 120 columns.
When I was working on this issue some months ago I classified this one as a "reasonable" long line, but now that I've seen it again I thought it was worth splitting into multiple lines.

Anyway, these are the remaining lines that exceed 120 characters:
[code]
In my opinion, those 6 lines are actually more easily readable this

[2020-07-06 19:46] pixelzoom commented on #28
Keep in mind that 120-chars is not a hard limit, it's up to developer discretion.  And you're the developer, so it's up to you! But I agree, those lines are fine as is.

Assigning back to @Hyodar in case there's anything else to do for this issue. Feel free to close if you're done.

[2020-07-06 19:53] Hyodar commented on #28
Sure, that's why I ended up leaving those as they are now :)

So, if that's alright, I'll go ahead and close the issue.

[2020-07-06 19:53] #28 closed

[2020-07-06 20:45] Hyodar commented on #14
Hahaha, that's right: 'A little knowledge is a dangerous thing'.

Well, I think these lessons are already pretty clear now, so I'll go ahead and close the issue :)

[2020-07-06 20:45] #14 closed

[2020-07-06 20:48] Hyodar commented on #13
Understood!
Since it's already fixed and ready for review, I'll just close the issue.

[2020-07-06 20:48] #13 closed

[2020-07-06 23:28] tmildemberger commented on #56
Before 366a306 there was a method to swap x and y coordinates of the displacement and velocity of every mass when the amplitude direction changed. It was removed because I thought it wouldn't be possible to press the button to change the amplitude direction while dragging a mass.

But... I have just tested the sim for a while on my phone and this was not the only problem caused by forgetting about

[2020-07-07 00:02] pixelzoom commented on #56
Multitouch is always a little tricky.  Using query parameter`fuzzPointers` might help you. It simulates multitouch while fuzzing.  For example, running with `?ea&fuzz&fuzzPointers=2` will test the sim for mouse and touch events with 2 concurrent "pointers".

[2020-07-10 21:08] Hyodar commented on #40
I think this can already be closed.

What do you think, @pixelzoom?
Assigning for review.

[2020-07-10 21:12] Hyodar commented on #20
I took a look at the code and didn't seem to find more cases of non-standard abbreviations.

Do you think this can be closed, @pixelzoom?
Assigning it to you for review.

[2020-07-10 21:13] Hyodar commented on #11
Understood! Thanks for adjusting.
I'll go ahead and close the issue.

[2020-07-10 21:13] #11 closed

[2020-07-10 21:22] Hyodar commented on #8
Thanks!
I'm also happy with it; we only need to remember to change the document in case anything described there is changed.

Closing the issue.

[2020-07-10 21:23] #8 closed

[2020-07-10 21:24] Hyodar commented on #7
Yes, that sounds nice. Thanks for reviewing!

Closing the issue.

[2020-07-10 21:24] #7 closed

[2020-07-13 18:06] pixelzoom commented on #20
Looks good to me! Closing.

[2020-07-13 18:06] #20 closed

[2020-07-13 18:06] pixelzoom commented on #40
Looks great @Hyodar! Closing.

[2020-07-13 18:06] #40 closed

[2020-08-15 14:33] pixelzoom commented on #55
Over in https://github.com/phetsims/axon/issues/322, enforcement of "Property" suffix for Property tandem was changed. It's now done for all brands, and I'm glad we made that change.  It exposed this a problem with the tandem naming convention used here:

[code]

Here's the relevant code in OneDimensionModel.js.  There are 2 other arrays (`this.modePhaseProperties`, `this.modeFrequencyProperties`)

[2020-08-15 14:47] pixelzoom commented on #55
Ugh... In `TwoDimensionsModel`, there's a similar violation of the "Property" suffix requirement.  But in that case the indexing is 2D:

[code]

for example `modeXAmplitudeProperties[1,1,]`.    Should we use `modeXAmplitude[1,1]Property`?  If so, should the 1D case be `modeAmplitude[1]Property`?

[2020-08-15 14:51] pixelzoom commented on #55
In the above commit, I went with:

* `modeAmplitude1Property` for the 1D case
* `modeXAmplitude[1,1]Property` for the 2D case

I did this to silence the CT error. We should still discuss the general convention that should be used in "array of Property" cases.

[2020-08-16 04:48] zepumph commented on #55
Thanks for taking care of this! I actually really like your solution. I'm also happy to have a full discussion.

[2020-08-28 17:06] zepumph commented on #55
The relevant doc in https://github.com/phetsims/phet-io/blob/4ec4af88d9cfa3276aece9111a096298750e0834/doc/phet-io-instrumentation-guide.md#phet-io-elements discusses using `element[0,0]` as a pattern. How about the above update?

I like your change above, what else would you like to discuss?

[2020-09-01 17:44] pixelzoom commented on #55
Doc update looks good. Nothing else to discuss for now.  I suspect that we may need to revisit when designer get their eyeballs on one of there phetioIDs.  But until then, happy to close.

[2020-09-01 17:44] #55 closed

[2020-09-17 21:44] pixelzoom commented on #52
Done in the above commit. Also renamed and tweaked the value.

[code]

[2020-09-17 21:44] #52 closed

[2020-09-17 21:48] pixelzoom commented on #30
Closing this, will address any others during formal code review.

[2020-09-17 21:48] #30 closed

[2020-09-17 21:48] pixelzoom commented on #23
Work is done, and this was a PSA. So closing.

[2020-09-17 21:48] #23 closed

[2020-09-17 21:54] pixelzoom commented on #2
This issue can be closed, since specific things are being tracked in their own GitHub issues.

[2020-09-17 21:54] #2 closed

[2020-09-17 23:18] pixelzoom opened #57 "change requests"
@ariel-phet and I started putting together a list of potential change requests:

* use standard TimeControlNode
* put constraints on stretching, so we don't get so much motion outside the layoutBounds (or visibleBounds?)
* see the full waveform in Normal Modes accordion box
* in horizontal mode, make the springs look like the Flash version (sawtooth)
* in vertical mode, either make springs look li

[2020-12-16 01:03] pixelzoom commented on #57
@ariel-phet anything to add to this issue?

[2020-12-16 01:26] pixelzoom opened #58 "Replace "Speed" control with TimeControlNode"
Related to #57...

Normal Modes currently has a "Speed" control that looks like the one in the legacy (Flash) version:

<img width="203" alt="screenshot_751" src="https://user-images.githubusercontent.com/3046552/102292083-b8a0df80-3f01-11eb-8f6c-18eaa285ad6b.png">

PhET's HTML5 sims have standardized on a general time control.  It's TimeControlNode, and it lives in the scenery-phet repository. Ru

[2020-12-16 01:33] pixelzoom opened #59 "Show title when the "Normal Mode Amplitudes" accordion box is expanded"
The "Two Dimensions" screen has an AccordionBox that looks like this when expanded:

<img width="341" alt="screenshot_753" src="https://user-images.githubusercontent.com/3046552/102292992-77113400-3f03-11eb-96e3-9fa241a17b13.png">

... and this when collapsed:

<img width="347" alt="screenshot_754" src="https://user-images.githubusercontent.com/3046552/102293002-7bd5e800-3f03-11eb-9a18-32b892713d5

[2021-01-26 19:20] ariel-phet commented on #57
Some more thoughts:
1. A possibility might be to just have the thickness of the lines connecting masses correspond to their stretch. More like elastic bands  (thin when stretched, thicker when compressed). I would think this would be simpler programmatically since the line width could just be a function of its length compared to its "rest" length. Such an approach would give a consistent look on a

[2021-01-26 19:21] ariel-phet commented on #57
@issamali67 when you begin working on this sim in earnest, it would be good to request some design meeting time and get input on the suggested changes/enhancements

[2021-01-28 19:15] pixelzoom commented on #57
@issamali67 The designer for this sim hasn't been determined yet, but according to @arouinfar, it will be either @arouinfar or @DianaTavares.

[2021-02-03 17:48] pixelzoom opened #60 "Normal Modes 1.0 release (07/25/2021)"
From the [PhET Project Overview spreadsheet](https://docs.google.com/spreadsheets/d/133PIbF9fyA5QYVwCdEkGiMmt0vrQxq1qMCk_zzwkPEI/edit#gid=2020864455), the milestones for this epic are:

2021 Q1 team = @issamali67, with support from @pixelzoom

| Milestone | Start | End |
| --- | --- | --- |
| Review and Finalize Design | 02/01/21 | 02/28/21 |
| Dev to Feature Complete |  01/01/21 | 05/31/21 |
| In

[2021-02-03 17:51] pixelzoom opened #61 "identify lead designer"
From https://github.com/phetsims/normal-modes/issues/57#issuecomment-769311751:

And from https://github.com/phetsims/normal-modes/issues/60:

Since we're into the timeframe where the design is supposed to be finalized, we need to identify the lead designer.  Assigning to @kathy-phet with high priority.

[2021-02-03 18:06] DianaTavares commented on #61
I will be the lead designer for this simulation (Kathy already ask me).

[2021-02-03 18:09] #61 closed

[2021-02-03 18:10] pixelzoom commented on #57
@issamali67: @DianaTavares is your lead designer, see https://github.com/phetsims/normal-modes/issues/61#issuecomment-772709264.  Please communicate with her on design questions.  And if you need any support, let me know.

[2021-02-08 16:37] KatieWoe opened #62 "CT bad result of recalculateVelocityAndAcceleration"
[code]

[2021-02-09 19:32] pixelzoom opened #63 "duplication in OneDimensionModel and TwoDimensionsModel"
There is quite a bit of duplication in OneDimensionModel and TwoDimensionsModel.  They both define:

`playingProperty`
`simSpeedProperty`
`springsVisibleProperty`
`numberVisibleMassesProperty`
`timeProperty`
`dt`
`masses`

... maybe some other fields, and some identical methods.

Factoring out a base class should be investigated.

[2021-02-09 19:35] pixelzoom commented on #58
Discussed at 2/4/21 design meeting.  @DianaTavares is going to provide mockups showing where the time control should appear, and how it should look.

[2021-02-09 19:39] DianaTavares commented on #58
This is the mockup:

![image](https://user-images.githubusercontent.com/26031501/107418310-1d308300-6adc-11eb-8f79-d98c77487c63.png)

and this how it looks in the full simulation, screen 1 and 2:
![image](https://user-images.githubusercontent.com/26031501/107418366-2de0f900-6adc-11eb-8640-3863114edb62.png)

![image](https://user-images.githubusercontent.com/26031501/107418396-389b8e00-6adc-11eb-84

[2021-02-09 20:01] pixelzoom commented on #58
Soemthing that @issamali67 and I discussed on Slack that should be captured here.

OneDimensionModel and TwoDimensionsModel both define this "speed" like this:

[code]

TimeControlNode specifies it's speed option like this:

[code]

Because they are different types, this will not work:

[code]

So in addition to using TimeControlNode in the view, you'll need to adjust the model.

Here's one way to

[2021-02-09 20:08] pixelzoom commented on #63
Also lots of duplication between OneDimensionConstants.js and TwoDimensionsConstants.js.  Duplicated constants should be moved to NormalModesConstants.js.

[2021-02-12 00:08] pixelzoom commented on #58
@issamali67 contacted me on Slack and said:

I replied:

Here's that patch:

<details>
<summary>Patch</summary>

[code]

</details>

[2021-02-15 22:05] issamali67 commented on #58
I think the difference between what @pixelzoom did and what I did is that @pixelzoom  took out `this.simSpeedProperty` and defined another `thisTimeScaleProperty` . I tried instead to do the changes Chris suggested earlier in `this.simSpeedProperty` itself. And this did not work which puzzled me. I tried to find if `this.simSpeedProperty` is used somewhere else, but could no. So I am still puzzled

[2021-04-08 19:49] pixelzoom commented on #60
4/8/21 Q2 planning meeting:

This epic is deferred, and will likely not be included in Q2 work.  @kathy-phet and @issamali67 will stay in touch.

[2021-04-14 22:44] DianaTavares commented on #39
We have an [updated version of the mockup](https://docs.google.com/document/d/1dzjaCGtnbZ9VaS3qyeNvJiHHS1loUuzLP5__Irqju8k/edit#) for this simulation. I test for colorblind and looks like to colors we are using are appropriate. All the components in the sim can be recognized well.

![image](https://user-images.githubusercontent.com/26031501/114789051-1e826400-9d48-11eb-9a9b-32569adbda38.png)
![ima

[2021-04-14 22:44] #39 closed

[2021-04-14 22:47] DianaTavares commented on #41
We have been working on the design of this simulation considering the information in this issue. An updated version of the mock-up can be found in the [design doc](https://docs.google.com/document/d/1dzjaCGtnbZ9VaS3qyeNvJiHHS1loUuzLP5__Irqju8k/edit#), and issues related to the changes that are needed in the dev version are going to be opened.

Closing this issue.

[2021-04-14 22:47] #41 closed

[2021-04-14 23:39] DianaTavares commented on #57
I did the comparison between the Mockup and the implementation that this is all the differences about the design:

- [ ] the masses in the first screen need to have rounded corners.
![image](https://user-images.githubusercontent.com/26031501/114790470-6f935780-9d4a-11eb-8368-ad0f18614baf.png)

- [ ]  The springs that join the masses in the first screen need to have a zig-zag shape, with a behavior

[2021-09-23 22:15] jessegreenberg commented on #58
The API for StepButton changed and isPlayingProperty was replaced with enabledProperty. When TimeControlNode is used in this sim the setting of enabledProperty can be removed because it is the default behavior for TimeControlNode.

[2021-10-14 20:51] pixelzoom opened #64 "Normal Modes 1.0 prototype"
This was scheduled at 10/14/21 quarterly planning meeting.

The QA plan is:

* dev-lite test (QA + @kathy-phet @ariel-phet @arouinfar)
* RC-lite test

The plan is to fix only things that crash the sim.

[2021-10-14 21:36] pixelzoom commented on #64
10/14/21 dev version published for dev-lite testing:
* https://github.com/phetsims/qa/issues/724

[2021-10-14 21:46] arouinfar opened #65 "Screenshot for prototype"
For https://github.com/phetsims/qa/issues/724

We can't deploy a sim without a screenshot, so self-assigning.

We'll also use the screenshot on the prototype sims page (added manually post-publication).

[2021-10-14 23:17] pixelzoom commented on #19
I've moved Diana to the "Team" section of credits:

<img width="718" alt="screenshot_1365" src="https://user-images.githubusercontent.com/3046552/137408045-3cb9717d-0cef-47a0-aae1-540c107aeef9.png">

[2021-10-18 16:11] pixelzoom opened #66 "Add icon for "Two Dimensions" screen."
In https://github.com/phetsims/qa/issues/724#issuecomment-945911177, @DianaTavares said:

I did the design for the second screen if you want it to include it:

![image](https://user-images.githubusercontent.com/26031501/137764640-0b15a584-786e-476f-9f4f-26a9f694e23d.png)

[2021-10-20 18:39] pixelzoom opened #67 "Reduce the range of 'One Dimension' sliders"
@arouinfar request for Prototype:

On the 'One Dimension' screen, reduce the range of the sliders by half, so that the midpoint value is the max value.

[2021-10-20 18:43] pixelzoom opened #68 "Constrain drag bounds of masses."
For https://github.com/phetsims/qa/issues/724, @ariel-phet requested for the Prototype:

For the 'One Dimension' screen, constrain the drag bounds of the masses to be about the height of the black "stops" at the left and right ends of the spring (maybe a little taller):

<img width="1077" alt="screenshot_1382" src="https://user-images.githubusercontent.com/3046552/138152406-1bad5d09-c765-4f49-9c19

[2021-10-20 21:05] pixelzoom commented on #63
Adding to the prototype milestone, because this is a prerequisite for #58.

[2021-10-20 21:54] pixelzoom commented on #63
In the above commits, all constants were consolidated in NormalModesConstants.js, and OneDimensionConstants.js and TwoDimensionsConstants.js were deleted.  The compuatation of max amplitudes for 'Two Dimensions', and `maxAmplitudeProperty`, were moved to TwoDimensionsModel.js.

[2021-10-20 22:29] pixelzoom commented on #67
I changed the amplitude range from [0,0.2] to [0,0.1].  It had the desired effect of changing the range of the sliders.  But it also messed up the icons that appear above each slider, see screenshot below.  So unfortunately not trivial, more investigation will be needed.

<img width="472" alt="screenshot_1384" src="https://user-images.githubusercontent.com/3046552/138181312-5a723973-c417-4a35-a9bc

[2021-10-20 23:23] pixelzoom opened #69 "Problems with the 'Number of Masses' control"
The 'Number of Masses' control has several problems:

<img width="223" alt="screenshot_1386" src="https://user-images.githubusercontent.com/3046552/138185554-f9e0d804-8589-4e7d-95ce-e9d1c21d0d30.png">

(1) It's label makes no sense in the 'Two Dimension' screen. The number of masses is actually the square of this value.

(2) It should probably be a NumberSpinner, not a NumberControl.  A spinner wo

[2021-10-21 00:02] pixelzoom opened #70 "Tandems should be passed via options."
This sim passes tandems via a required constructor parameter. This is an old pattern, and should be replaced with passing tandems via options.

Search for `@param {Tandem} tandem` to find most (all?) of the sites that need to be converted.

[2021-10-21 00:25] #68 closed, assigned to ariel-phet

[2021-10-21 00:27] ariel-phet commented on #67
Checked on master, looking great for the prototype. Closing.

[2021-10-21 00:40] pixelzoom commented on #69
Done, example in screenshot below.  @ariel-phet please review in master.

<img width="1076" alt="screenshot_1387" src="https://user-images.githubusercontent.com/3046552/138191174-3738e1ca-1c68-4120-9a0b-c06ac1ddc4b7.png">

[2021-10-21 02:15] pixelzoom commented on #58
This is ready for review in master by @DianaTavares and @ariel-phet.  Screenshots are shown below.

@DianaTavares the mockups that you provided in https://github.com/phetsims/normal-modes/issues/58#issuecomment-776191959 do not match the layout of the control panel in the sim, and are missing UI components.   And in one mockup, you show the time control in a separate panel, which is not possible b

[2021-10-21 06:05] ariel-phet commented on #58
@pixelzoom I reviewed on master -- looks great, nice placement and certainly cleans things up and brings the sim to the modern standard. The slow speed seems appropriate. Everything now looks buttoned up for the porotype. Closing.

[2021-10-21 06:05] #58 closed

[2021-11-01 22:28] KatieWoe opened #71 "Suggest amplitude control changes"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/724. These are less bugs, and more changes that may be good to consider. On the 1D screen, the y axis has a much smaller range of amplitude you can drag the points than the x-axis. On the 2D screen, while you can have partial amplitudes by dragging the points, you c

[2021-11-02 00:44] pixelzoom commented on #71
In https://github.com/phetsims/normal-modes/issues/67, @ariel-phet requested the reduced ranges in the 'One Dimension' screen.   So I'll let him respond to this issue.

[2021-11-02 13:59] Nancy-Salpepi opened #72 "'Reset All' does not reopen accordion boxes"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari

**Problem description**
https://github.com/phetsims/qa/issues/724

If you close any of the accordion boxes on either screen, pressing 'Reset All' button does not reopen them.

**Steps to reproduce**
1. Close any of the accordion boxes on either screen
2. Press the reset button

**Visuals**
![panels](https://use

[2021-11-02 14:43] pixelzoom commented on #72
Thanks @Nancy-Salpepi, reproduced.    I've adjusted the title and report to indicate "accordion box". Panels do not expand/collapse.

[2021-11-02 14:46] pixelzoom commented on #72
Inspecting the code, I see that none of the accordion boxes are provided with option `expandedProperty`.   So they create their own `expandedProperty`, which needs to be reset.

[2021-11-02 15:47] Nancy-Salpepi opened #73 "Portions of frequency values remain after collapsing accordion box"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/724
This is not a major issue, but I thought I would report anyway.
When the Normal Mode Spectrum accordion box is collapsed, remnants from the frequency values are still visible.

**Steps to reproduce**
1. Select the One Dimension Screen
2. Optional

[2021-11-02 16:14] Nancy-Salpepi opened #74 "Rendering order of Springs, Masses and Accordion Box inconsistent"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari

**Problem description**
https://github.com/phetsims/qa/issues/724

In the 2 Dimensions Screen, the Springs move behind the Normal Mode Amplitudes accordion box while the Masses move in front.

**Steps to Reproduce**
1. Select the 2 Dimensions Screen
2. Increase the Number of Masses to 36
3. Select the Horizonta

[2021-11-02 16:31] KatieWoe opened #75 "Screenshot may not match sim"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/724. Fairly minor.
On the first screen, if the waves in the Normal Modes box are large enough that they are cut off, then in a screen shot, they may not be cut off.
**Steps to reproduce**
1. Go to the first screen
2. Create a wave where the first wave in the normal

[2021-11-02 16:32] pixelzoom commented on #74
Looking at the layering order (in the ScreenView subclasses) I can see that it's a little odd, to say the least.

@arouinfar @ariel-phet would you like the masses and springs to be in front of or behind the control panels?

[2021-11-02 16:37] pixelzoom commented on #75
@KatieWoe It looks to me like there's a step missing in your description. Did you pause the sim, and take the screenshot with the sim paused?

[2021-11-02 16:41] KatieWoe commented on #75
Yes, so that I could make sure the timing was right and the same for when I took it with the phet menu as when I took it with the computer's tools

[2021-11-02 16:52] pixelzoom commented on #75
OK. So the correct steps are:

1. Go to the first screen
2. Pause the sim
3. Pull all 3 masses fully down, so that the mode 1 waveform will appear to be clipped in the Normal Modes accordion box.
4. Take a screenshot in the PhET Menu. Note that the mode 1 waveform is not clipped in the screenshot.

I reproduced this on macOS 12.0.1 + Chrome 95.0.4638.69 + 15.1 (17612.2.9.1.20).  So it does not app

[2021-11-02 17:13] Nancy-Salpepi commented on #72
Looks good.

[2021-11-02 17:13] #72 closed

[2021-11-02 17:29] Nancy-Salpepi commented on #75
Since this issues deals with waveforms being clipped, I wanted to mention that in the flash version, they aren't.
![normalmodes](https://user-images.githubusercontent.com/87318828/139915614-afd93d42-8ad3-4950-99e0-07eb3c5a689e.gif)

[2021-11-02 17:42] pixelzoom commented on #75
Thanks @Nancy-Salpepi.  This may have been a design decision for the HTML5 version? I'm not really sure - this sim was developed by a 3rd party, and I'm not the responsible dev.  (There currently is no responsible dev.)

@arouinfar Also your call on whether you want to change the rendering behavior of these waveforms.

[2021-11-02 17:51] KatieWoe opened #76 "Max widths needed"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/724. When strings are either doubled or long, the control boxes can overlap with the play areas.

**Visuals**
<img width="959" alt="needed2" src="https://user-images.githubusercontent.com/41024075/139919072-f5e64f73-5e35-4824-9ed8-d97d1b1633e4.png">
<img width="953"

[2021-11-02 17:54] KatieWoe commented on #76
This also leads to object going off screen if the window isn't wide enough.
<img width="554" alt="cutoff" src="https://user-images.githubusercontent.com/41024075/139919538-09a9ae34-7cb7-4065-957f-325f5464ea85.png">

[2021-11-02 17:59] ariel-phet commented on #71
@KatieWoe -- in a published version we will want to restrict the x -axis dragging on the 1-d screen, but this would be a complicated change for the prototype so we punted for the moment.

On the 2-d screen we should tweak several things (including your suggestion of amplitude readouts/maxes) but again, this was deemed too much effort for the prototype.

[2021-11-02 18:01] ariel-phet commented on #74
@pixelzoom in front would probably be easiest and will be fine.

[2021-11-02 18:06] pixelzoom commented on #74
@ariel-phet I actually think that masses/spring BEHIND controls would be better. We typically do not want things in front of controls, and that's especially relevant since this sim can paused/stepped. Behind would also be consistent with recent (similar) decisions that were made in geometric-optics.

Are you OK with that?

[2021-11-02 18:10] pixelzoom commented on #74
Discussed with @ariel-phet on Slack. He pointed out that while behind is more consistent with modern PhET sims, in front is more consistent with the legacy (Flash) version.  So will go with legacy behavior for the prototype, and can revisit for final version.

[2021-11-02 18:40] pixelzoom commented on #74
In the above commits, I adjusted the rendering order for both screen, so that masses and springs are in front of controls.  In the 'One Dimension' screen, this is relevant for horizontal movement.

Back to @Nancy-Salpepi to verify. Close if it looks OK.

[2021-11-02 19:00] Nancy-Salpepi commented on #74
Masses and springs are now in front of controls.
<img width="417" alt="Screen Shot 2021-11-02 at 2 58 23 PM" src="https://user-images.githubusercontent.com/87318828/139928061-5d869faf-b70c-4421-8213-b225a682130a.png">

[2021-11-02 19:00] #74 closed

[2021-11-02 20:09] arouinfar commented on #74
For the record, I think keeping the masses in front of the panels is the right call for the prototype. When it comes time to complete the sim, we should constrain the displacement of the masses which will likely reduce the amount of overlap that is possible.

[2021-11-02 20:25] arouinfar commented on #75
In [dev.1](https://phet-dev.colorado.edu/html/normal-modes/1.0.0-dev.1/phet/normal-modes_en_phet.html) the clipping only occurred at the boundaries of the panel, but the individual modes could overlap one another
![image](https://user-images.githubusercontent.com/8419308/139945238-86bf8207-bdab-484a-a295-917f829024fb.png)

We decided that the max amplitude of the normal mode should fit in the spac

[2021-11-02 20:25] #75 closed

[2021-11-02 20:26] arouinfar commented on #76
Sounds good to me, closing.

[2021-11-02 20:26] #76 closed

[2021-11-02 20:28] arouinfar commented on #73
@pixelzoom I think this is minor enough to ignore for the prototype, but I still think it would be good for @jonathanolson to review since it could be relevant to other sims.

[2021-11-02 20:42] arouinfar commented on #65
@pixelzoom here's the screenshot for the prototype. There isn't an assets directory to commit it to, so can you take care of it?

[normal-modes-screenshot.png](https://user-images.githubusercontent.com/8419308/139948455-e989e02c-bba4-4c65-930b-61e2dc536095.png)

[2021-11-02 21:17] arouinfar opened #77 "Keep Normal Mode Amplitudes title visible when AccordionBox is expanded"
For https://github.com/phetsims/qa/issues/724

The Normal Mode Amplitudes matrix on the Two Dimensions screen is really abstract. In general, this representation needs a bit of design work to make it more interpretable and clearly interactive. That goes way beyond the scope of the prototype.

However, I think the representation would be a bit clearer if the title of the AccordionBox remained visib

[2021-11-03 00:18] pixelzoom commented on #77
I'm confused. This is a duplicate of https://github.com/phetsims/normal-modes/issues/59, which we previously decided would not be addressed for the prototype.  Are you assigning this to me because you do want it addressed for the prototype?

[2021-11-03 00:19] pixelzoom commented on #59
Now duplicated by https://github.com/phetsims/normal-modes/issues/77, so closing.

[2021-11-03 00:19] #59 closed

[2021-11-03 00:20] pixelzoom commented on #73
OK. Will not address for the prototype. Labeling as deferred until someone works on this sim for public release.

[2021-11-03 15:00] pixelzoom commented on #77
Sigh... Why is nothing every easy with AccordionBox.  The screenshot below shows what happens where the title is made visible.  No idea how much work is involved in fixing this. @arouinfar how badly do you want this for the prototype?

<img width="1100" alt="screenshot_1403" src="https://user-images.githubusercontent.com/3046552/140085529-571902a2-dac2-469f-80ab-3e9c2a401469.png">

[2021-11-03 15:03] pixelzoom commented on #65
Done, closing.

[2021-11-03 15:03] #65 closed

[2021-11-03 15:45] arouinfar commented on #77
I don't remember making an explicit decision about that issue, sorry.

I think there are serious usability issues with this representation in its current state. It's extremely abstract and lacks the labels that were in the Flash version, and if I didn't already know what it represented, I would be confused. It's completely unintuitive to collapse the AccordionBox to see its title, and students gen

[2021-11-03 16:47] ariel-phet commented on #77
@arouinfar I agree that this representation is a big part of the crux of taking this sim from the "prototype" version to the finish line. I would love to improve it, but I think that sort of improvement is beyond the scope of the prototype, as there is a fair bit of design work needed.

I think having the Accordion Box closed by default is a reasonable solution. Unless @kathy-phet wants to actuall

[2021-11-03 16:57] pixelzoom commented on #77
I'm not wild about starting with this accodion box closed.

How about this plan?
* Create the 1.0 RC branch asap, to minimize the possibly of new regressions in master.
* I'll spend up to 1 hour trying to fix the layout of this accordion box so that the title can be shown while it's closed. If I can make it work, I'll patch the 1.0 branch.
* If I can't get it to work in < 1 hour, then we'll leave

[2021-11-03 17:07] ariel-phet commented on #77
@pixelzoom that sounds good.

[2021-11-03 18:04] pixelzoom commented on #64
11/3/21:

* 1.0 branch created using `grunt create-release --branch=1.0`
* no RC published until #77 is completed

[2021-11-03 18:27] pixelzoom commented on #77
Got this working, pushed to master and 1.0 branches. Screenshot below.

@arouinfar please verify in master, close if it looks OK. Then I'll proceed with RC testing.

<img width="1098" alt="screenshot_1404" src="https://user-images.githubusercontent.com/3046552/140170564-a360b225-b135-4b96-bc2d-6cf8ca8966ee.png">

[2021-11-03 19:27] pixelzoom commented on #77
Great. Closing this issue. Onward to RC.

[2021-11-03 19:28] #77 closed

[2021-11-03 19:30] pixelzoom commented on #60
Title of this issue changed to "Normal Modes 1.1 release".  The prototype released in https://github.com/phetsims/normal-modes/issues/64 uses the 1.0 branch.

[2021-11-05 15:54] pixelzoom commented on #77
Verified in 1.0.0-rc.1.

[2021-11-06 13:41] Nancy-Salpepi opened #78 "Mass position may be incorrect when amplitude is increased while sim is paused"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari 15

**Problem description**
https://github.com/phetsims/qa/issues/733

Sometimes when the sim is paused and amplitude values are changed, the positions of the masses don't accurately reflect that change.

**Steps to reproduce**
This behavior is very inconsistent, but here are some steps that have worked for me:

[2021-11-08 20:30] pixelzoom opened #79 "Prototype workaround for lack of multitouch support."
For https://github.com/phetsims/qa/issues/733. Discovered while working on #78.

This sim will have serious problems with multitouch.  It assumes that there is only 1 mass being dragged at a time, and does nothing to prevent that.

In OneDimensionalModel.js:

[code]

In TwoDimensionalModel.js:

[code]

This is an unreasonable constraint. The sim should support dragging multiple masses simultaneous

[2021-11-08 20:32] #66 closed

[2021-11-08 20:32] pixelzoom commented on #62
Duplicate of #56. Closing.

[2021-11-08 20:32] #62 closed

[2021-11-08 20:33] KatieWoe commented on #79
Dev-Lite tests two devices at random for around 2 hours. In the case of the las dev lite it was a Mac and a Windows, and so touch was not included. A dev lite is a fast test when we don't expect much to go wrong.

[2021-11-08 20:35] KatieWoe commented on #79
If touch/specific devices/in depth testing is needed then a regular dev test is more appropriate.

[2021-11-08 20:35] pixelzoom commented on #79
Definitely not possible to properly support multitouch for the prototype.  And I don't see any easy way to properly interrupt drag, but  I could probably put together a hack.

[2021-11-08 22:00] pixelzoom commented on #79
In the above commits, I implemented a workaround  (in master and 1.0) that only allows 1 mass to be dragged at a time. If you start dragging a second mass, the drag for the first one is interrupted.

@arouinfar please review in master, on a touch device, and verify that it's acceptable for the prototype. Then assign back to me.

[2021-11-08 22:01] pixelzoom opened #80 "Multitouch support"
The sim currently does not support multitouch.  See https://github.com/phetsims/normal-modes/issues/79 for a workaround that was applied for the prototype.  The final public version should have proper multitouch support, including dragging of multiple masses.

[2021-11-08 22:25] KatieWoe commented on #79
For documentation, this is what the badly behaving look like. It did seem like normal behavior returned when the masses were released. @pixelzoom if this isn't the behavior you saw let me know and I'll try to reproduce again.

https://user-images.githubusercontent.com/41024075/140827796-6bde6a8f-72e2-46e4-9f47-28455e75b91f.MP4

[2021-11-08 22:28] pixelzoom commented on #79
@KatieWoe Yes, that's the behavor that I was seeing. And thanks for documenting via a movie.

[2021-11-08 22:46] pixelzoom commented on #78
Reproduced in master.

Notes to self:  Pressing the "Initial Positions" button calls `setExactPositions`, which is implemented separately by OneDimensionModel and TwoDimensionsModel.

[2021-11-08 22:53] pixelzoom commented on #78
Here's another easier way to reproduce:

1. Start the sim, go to 1D screen
2. Pauses the sim
3. Set amplitude slider for Normal Mode 3 to its maximum. Doing this 3 times, I got 3 very different results, all of them incorrect. Ther first result is close, but still a little off.

<img width="706" alt="screenshot_1412" src="https://user-images.githubusercontent.com/3046552/140830853-8f225c7e-9218-408

[2021-11-09 00:42] pixelzoom commented on #78
After poking around in OneDimensionModel, I now understand what's going on here.

When you pause the sim in step 2 above, you do so at some time `t`.   That `t` is not zero, and is used in the computation of the "waveform" by `setExactPositions`.   Each time I paused the sim, I was doing so at a different `t`. So that's why there are different results for step 3 above - the waveform depends on wha

[2021-11-09 17:20] Nancy-Salpepi opened #81 "Unclear what the result should be when adjusting amplitudes using multitouch"
**Test device**
iPad Air 2

**Operating System**
15.1

**Problem description**
https://github.com/phetsims/qa/issues/733

This is related to https://github.com/phetsims/normal-modes/issues/79
When using multitouch to adjust amplitudes, I was unsure whether the values displayed were correct.

**Steps to reproduce**
1. On the 1 dimension screen, use one finger to hold a mass in place while increasin

[2021-11-09 17:40] Nancy-Salpepi opened #82 "Normal Modes accordion box outside dev bounds on iPad"
**Test device**
iPad Air 2

**Operating System**
15.0

**Problem description**
https://github.com/phetsims/qa/issues/733

This is a very minor issue. When the iPad is held horizontally the bottom of the Normal Modes accordion box is outside of dev bounds.

**Steps to reproduce**
1. Hold the iPad horizontally
2. On the One Dimension Screen, increase the number of masses to 10

**Visuals**

<img wid

[2021-11-09 18:34] Nancy-Salpepi opened #83 "Mass position not reset using multitouch"
**Test device**
iPad Air 2

**Operating System**
15.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/733

Related to https://github.com/phetsims/normal-modes/issues/79

On the iPad, when holding a mass with one finger, and changing the Number of Masses using the slider--the location of the original mass seems to reset. Upon lifting your finger you can see that i

[2021-11-09 18:37] pixelzoom commented on #82
Reproduced on iPad6.  That very odd, I guess the font sizes must be significantly taller on iOS.

[2021-11-09 18:43] pixelzoom commented on #82
Fixed in master and 1.0 branches in the above commit.

@Nancy-Salpepi please verify in master. If it looks OK, please change the label to "fixed-awaiting-deploy".

[2021-11-09 18:46] pixelzoom commented on #81
The multitouch problem is tracked in https://github.com/phetsims/normal-modes/issues/79.  It will not be addressed for the prototype, and longterm multitouch requirements need to be specificed in  and https://github.com/phetsims/normal-modes/issues/80.  For example, what is the desired behavior when dragging a mass and changing its amplitude slider? I have no idea.

@arouinfar As long as the sim d

[2021-11-09 18:49] pixelzoom commented on #83
When the number of masses is changed, all drag interactions should be interrupted.  That's clearly not happening here.  I can probably add a bandaid.  But this needs to be addressed in the future by #80 (Multitouch support).

[2021-11-09 18:55] Nancy-Salpepi opened #84 "Masses briefly stop moving when switching between vertical and horizontal normal modes"
**Test device**
iPad Air 2

**Operating System**
15.1

**Browser**
Safari

**Problem description**
https://github.com/phetsims/qa/issues/733

I've only seen this on the iPad thus far: The masses will briefly stop moving when switching between horizontal and vertical amplitudes on the Two Dimensions Screen.

**Steps to reproduce**
1. On the Two Dimensions Screen, increase the Number of Masses to 10

[2021-11-09 18:58] pixelzoom commented on #83
In the above commits to master and 1.0, dragging of masses is now interrupted when **Number of Masses** is changed.

@Nancy-Salpepi please review in master. Change the label to fixed-awaiting-deploy if it looks OK.

[2021-11-09 19:00] pixelzoom commented on #84
This is not something that will be addressed for the prototype. I'll label it as deferred, so that it can be evaluated for the final public version.

[2021-11-09 19:00] pixelzoom commented on #84
Also not a bug - there is nothing incorrect about the behavior.  So I'm removing the "bug" label and adding "performance" label.

[2021-11-09 19:05] Nancy-Salpepi commented on #82
Looks good on master.

[2021-11-09 19:09] Nancy-Salpepi commented on #83
Looks good in master.

[2021-11-09 20:11] pixelzoom opened #85 "QA credits for 1.0 (prototype) release"
For https://github.com/phetsims/qa/issues/733

I discovered that this sim currently has no QA credits.  @KatieWoe who should be added?

[2021-11-09 20:52] KatieWoe commented on #85
Sorry about that. Nancy Salpepi, Emily Miller, and myself should be added.

[2021-11-10 00:12] arouinfar commented on #81
Nice find @Nancy-Salpepi. I agree with @pixelzoom that multitouch is beyond the scope of the prototype. Closing as won't fix.

[2021-11-10 00:12] #81 closed

[2021-11-10 00:14] arouinfar commented on #79
@pixelzoom the workaround is good enough for the prototype and the behavior is reasonable on my phone, so I think we can close this one. Thanks!

[2021-11-10 00:14] #79 closed

[2021-11-10 00:28] arouinfar commented on #78
@pixelzoom I think (1) is fine for the purposes of the prototype.

I would prefer (2) in the final version of the simulation. Generally, people are likely to pause the simulation to set up a new initial condition. That could involve adjusting mode sliders and/or displacing the masses. Once the sim is playing, I would expect "initial positions" to return the sim to the state it was in just before p

[2021-11-10 01:03] pixelzoom commented on #78
Unassigning and deferring, since this will not be addressed for the prototype.

[2021-11-10 16:56] pixelzoom commented on #64
11/3/2021 RC test started:

* https://github.com/phetsims/qa/issues/733

[2021-11-11 20:39] pixelzoom commented on #82
To verify in 1.0.0-rc.2:

1. Run the sim on iPad
2. Go to One Dimension screen
3. Expand the "Normal Modes" accordion box
4. Verify that everything is inside the dev bounds

[2021-11-11 20:40] pixelzoom commented on #83
To verify in 1.0.0-rc.2:

1. Run the sim on iPad
2. Go to the One Dimension screen
3. Drag a mass with one finger, do not release.
4. Drag a different mass with another finger, verify that the first mass drag is interrupted.
5. Repeat steps 3 & 4 for the Two Dimensions screen.

[2021-11-11 20:41] pixelzoom commented on #64
11/11/2021 RC spot-check test started:

* https://github.com/phetsims/qa/issues/737

[2021-11-15 18:21] Nancy-Salpepi commented on #82
Everything is inside dev bounds.

[2021-11-15 18:21] #82 closed

[2021-11-15 18:43] Nancy-Salpepi commented on #83
The first mass is no longer held in place once a second mass is dragged.

[2021-11-15 18:43] #83 closed

[2021-11-15 19:06] KatieWoe opened #86 "Possible debug error"
For https://github.com/phetsims/qa/issues/737. While running a fuzz test on the debug version of the sim, this console error appeared. I'm not sure what caused it and the sim kept running.
<img width="959" alt="debugerror" src="https://user-images.githubusercontent.com/41024075/141839476-b83f6ed5-b73a-463d-9bd3-20453586dc94.png">

[2021-11-15 19:20] KatieWoe commented on #86
May be related to https://github.com/phetsims/normal-modes/issues/56

[2021-11-15 19:23] pixelzoom commented on #86
Yes, this is a duplicate of https://github.com/phetsims/normal-modes/issues/56.  We're not addressing that issue for the prototype.  Closing.

[2021-11-15 19:23] #86 closed

[2021-11-15 20:10] Nancy-Salpepi opened #87 "Amplitude display does not change when mass is held in place"
**Test device**
iPad Air 2

**Operating System**
15.1

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/737 and related to https://github.com/phetsims/normal-modes/issues/80

On the One Dimension screen, if a mass is held in place with one finger and the amplitude display is changed from vertical to horizontal, the display does not change until the mass is rele

[2021-11-15 20:19] KatieWoe commented on #85
No updates for QA for RC.2

[2021-11-15 20:34] pixelzoom commented on #87
Thanks for reporting @Nancy-Salpepi. This will not be addressed for the 1.0 prototype.  Deferring until the public release, to be addressed in #80.

[2021-11-15 20:37] pixelzoom commented on #85
Thanks @KatieWoe. We're ready to publish the 1.0 prototype, so I'll close this issue.

[2021-11-15 20:37] #85 closed

[2021-11-15 21:11] pixelzoom commented on #64
Prototype 1.0.0 has been published: https://phet.colorado.edu/sims/html/normal-modes/latest/normal-modes_en.html

@arouinfar Please:
- [ ] Mark the sim as a prototype on the Admin page.
- [ ] Add the sim to the [HTML5 Prototypes Google Doc](https://docs.google.com/document/d/1d9j8OGO7qPgdL2YvdMeSbztYt7hGXiAL7hAQLXnH-bU/edit).
- [ ] Notify @ariel-phet so that he can announce on social media.

... t

[2021-11-15 21:51] arouinfar commented on #64
Thanks @pixelzoom! The prototype is now up, and I let @ariel-phet know.

[2021-11-15 21:51] #64 closed

[2021-12-06 20:22] pixelzoom commented on #56
In the above commit, I added some additional info to the assertion messages.

[2021-12-10 15:44] KatieWoe opened #88 "CT recalculateVelocityAndAcceleration"
[code]

[2021-12-10 15:54] pixelzoom commented on #88
Duplicate of https://github.com/phetsims/normal-modes/issues/56.

[2021-12-10 15:54] #88 closed

[2022-03-18 16:07] KatieWoe commented on #56
[code]

[2022-06-10 14:11] pixelzoom commented on #56
It's likely to be a long time before this is fixed.  It may be masking other problems, and it would be nice not to have to continually inspect in CT.   So for now, I've commented out the failing assertion, and added a TODO that references this issue.

[2022-06-14 12:27] pixelzoom commented on #56
Commented out another failing assertion in the above commit, marked with a TODO.

[2022-06-21 14:42] pixelzoom commented on #56
In the above commit, I commented out the entire `if ( assert )` block, since all of its assertions are failing in CT.

[2022-09-09 22:29] KatieWoe commented on #56
Can this be closed for https://github.com/phetsims/qa/issues/832?

[2022-09-09 22:57] pixelzoom commented on #56
Please keep this open. The problem is still very much present.  The reporting in CT has been silenced (by commenting out assertions) since there's no one to work on this.